$cyan: hsl(171, 66%, 44%);
$grayBlue: hsl(233, 100%, 69%);

$colorHeading: hsl(210, 10%, 33%);
$colorText: hsl(201, 11%, 66%);

$btn1: hsl(171, 66%, 34%);
$btn2: hsl(233, 90%, 64%);

$btn1Hover: hsl(171, 66%, 48%);
$btn2Hover: hsl(233, 100%, 73%);
